# MongoDB Atlas connection string
MONGODB_URL=mongodb+srv://<username>:<password>@<cluster-url>/<db-name>?retryWrites=true&w=majority
MONGODB_DB_NAME=repomap

# Redis connection string
REDIS_URL=redis://localhost:6379/0

# App logging
LOG_LEVEL=INFO
